#green.lit {
    background-color: rgba(0 , 255, 0, 1);
}

#red.lit {
    background-color: rgba(255,0,0, 1);    
}

#yellow.lit {
    background-color: rgba(255 ,255, 0, 1);    
}

#red{
    background-color: rgba(255,0,0, .2);
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

#yellow {
    background-color: rgba(255 ,255, 0, .2);
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

#green {
    background-color: rgba(0 , 255, 0, .2);
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

#trafficlight {
    width: 120px;
    height: 360px;
}

#trafficlight button {
    width: 120px;
    height: 60px;
    margin-top: 20px;
}